**/__pycache__/
**/*.egg-info/
**/*.log
**/*.pyc
**/.idea/
**/.mypy_cache
**/*.swp
**/.tox
**/build/
**/provtool.db
**/report.xml
**/venv*
certs/
examples/weather_example/output
use-cases
addtoc.py
**/node_modules/
src/utils/.python-version
Makefile
Dockerfile
